


/* phablet size - >580px */

/* action for all screen width >580px */
@media screen and (min-width:580px){
     .social-networks .btn {
        width: 30%;
    }
    .presentation img{
        /* display: inline; */
        margin: 0 1rem 0 0;
        float: inline-start;
    }
}
/* phablet size - end */

/* tablet size - 768-992 px */

@media screen and (min-width:770px) and (max-width:990px) {

/* action for all screen width 770px> x >990px  */
    .recipe-name{
        font-size: 2rem;
    }

    main{
        padding: 30px;
    }
    .quick-notes ul{
        display: flex;
        flex-wrap: wrap;
        /* justify-content: space-between; */
    }
    .quick-notes li{
        width: calc(100% / 3 );
    }    
}
/* action for all screen width >770px */
@media screen and (min-width:770px){
    
    #topbar{
        justify-content: flex-start;
    }
    /* #logo{
        font-size: 4rem;
    } */
    
    .recipe-origin{
        display: inline;
    }
     .ads{
        display: inline-block;
    }

}

/* tablet size - end */

/* desktop size - 992px + */

/* action for all screen width >992px */
@media screen and (min-width:990px){
    .recipe-name{
        font-size: 3rem;
    }

    .quick-notes ul{
        display: inline;
        flex-wrap: nowrap;
        /* justify-content: space-between; */
    } 
    .recipe-card{
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }
    .recipe-video{
        height: auto;
        width: 80%;
        
    }
    .recipe-video iframe {
        display: inline-block;
    }
    .recipe-info{
        border: solid 1px;
        white-space: nowrap;
        padding-bottom: 10rem;
        /* justify-self: flex-end; */
        
    }
    .social-networks .label {
	    display: inline-block;
}
}


/* desktop size - end */